<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Django Login Test
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
        console.log("ready");
        $("#signup").hide();

        $("#btn_signup").click(function(){
            alert("Please Sign Up")
            $("#signup").show();
            $("#login").hide();
        });

        $("#btn_reg").click(function(){
            alert("Regist Success")
            $("#signup").hide();
            $("#login").show();
        });
    });

function btn_submit1(sign_up, sign_pw, sign_name){
    var sign_id = $('#sign_id').val();
    var sign_pw = $('#sign_pw').val();
    var sign_name = $('#sign_pw').val();
        console.log(sign_id);
        console.log(sign_pw);
        console.log(sign_name);

    $.ajax({
            type: "GET",
            url: "/main/regist",
            async: false,
            data: {
                sign_id: sign_id,
                sign_pw: sign_pw,
                sign_name: sign_name
            },
            success: function (data) {
                if(data.return == 'success'){
                    alert(data.id);
                }
            },
        });


}
</script>

</head>
<body>
<br>

<!--<div  id="Login" class="input-group-prepend">-->
<div id="login">
<h1> Login</h1>

    <span class="input-group-text" id="login_id">ID  </span>
  <input type="text" class="form-control"><br>

    <span class="input-group-text" id="login_pw">PassWord  </span>
  <input type="text" class="form-control"><br>


    <button type="button" class="btn btn-success">Login</button>
    <button id="btn_signup"type="button" class="btn btn-info">Sign Up</button>
</div>
<!--</div>-->

<!--=======================================================================-->
<!--<div id = "regist" class="input-group-prepend">-->
<div id="signup">
    <h1> Sign Up</h1>

    <span class="input-group-text" id="sign_id" >ID  </span>
  <input type="text" class="form-control"><br>

    <span class="input-group-text" id="sign_pw">PassWord  </span>
  <input type="text" class="form-control"><br>

     <span class="input-group-text" id="sign_pw2">PassWord check  </span>
  <input type="text" class="form-control"><br>

     <span class="input-group-text" id="sign_name">Name  </span>
  <input type="text" class="form-control"><br>

     <button id="btn_reg"type="button" class="btn btn-info">Regist</button>
</div>
<!--</div>-->


</body>
</html>